/* -------------------- */
/* Custom Properties    */
/* -------------------- */

:root {
    /* colors */
    --clr-dark: 230 35% 7%;
    --clr-light: 231 77% 90%;
    --clr-white: 0 0% 100%;
    
    /* font-sizes */
    --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
    --fs-800: 3.5rem;
    --fs-700: 1.5rem;
    --fs-600: 1.25rem;
    --fs-500: 1rem;
    --fs-400: .9375rem;
    --fs-300: .8375rem;
    --fs-200: .7375rem;
    
    /* font-families */
    --ff-serif: "Bellefair", serif;
    --ff-sans-cond: "Barlow Condensed", sans-serif;
    --ff-sans-normal: "Barlow", sans-serif;
}

@media (min-width: 35em) {
    :root {
        --fs-800: 5rem;
        --fs-700: 2.5rem;
        --fs-600: 1.5rem;
        --fs-500: 1.25rem;
        --fs-400: 1rem;
    }
}

@media (min-width: 45em) {
    :root {
        /* font-sizes */
        --fs-800: 6.25rem;
        --fs-700: 3.5rem;
        --fs-600: 2rem;
        --fs-500: 1.75rem;
        --fs-400: 1.125rem;
    }
}

/* -------------------- */
/* Reset                */
/* -------------------- */


/* Box sizing */

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}

/* Set up the body */

body {
    font-family: var(--ff-sans-normal);
    font-size: var(--fs-400);
    color: hsl( var(--clr-white) );
    background-color: hsl( var(--clr-dark) );
    line-height: 1.5;
    min-height: 100vh;
    
    display: grid;
    grid-template-rows: min-content 1fr;
    
    overflow-x: hidden;
}

/* Make images easier to work with */

img,
picture {
    max-width: 100%;
    display: block;
}

/* Make form elements easier to work with */

input,
button,
textarea,
select {
    font: inherit;
}

/* Remove animations for people who turn them off */

@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* -------------------- */
/* Utility Classes      */
/* -------------------- */

/* General */

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

.block {
    display: block;
}

.flow > *:where(:not(:first-child)) {
    margin-top: var(--flow-space, 1rem);
    /* outline: 1px solid red; */
}

.container {
    padding-inline: 2em;
    margin-inline: auto;
    max-width: 80rem;
}

.grid-container {
    display: grid;
    text-align: center;
    place-items: center;
    padding-inline: 1rem;
}

.grid-container p:not([class]) {
    max-width: 50ch;
}

.divider {
    width: 100%; 
    border-bottom: hsl( var(--clr-white) / .25 ) solid 2px; 
    margin: var(--dvider-gap, 2em) auto;
}

@media (min-width: 60em) {
    .grid-container {
        text-align: left;
        column-gap: var(--container-gap, 2rem);
        grid-template-columns: minmax(2em, 1fr) repeat(2, minmax(0, 30rem)) minmax(2em, 1fr);
    }
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line */
    border: 0;
}

.skip-to-content {
    position: absolute;
    z-index: 9999;
    background: hsl( var(--clr-white) );
    color: hsl( var(--clr-dark) );
    padding: .5em 1em;
    transform: translateY(-100%);
    transition: transform 250ms ease-in;
}

.skip-to-content:focus {
    transform: translateY(0);
}

.box {
    background-color: lightblue;
    padding: 3rem;
}

.color-box {
    background-color: var(--clr-box-clr, hsl( var(--clr-light) ));
    padding: 3rem 1rem 1rem;
    border: solid 1px hsl( var(--clr-white) );
}

/* Colors */

.bg-dark { background-color: hsl( var(--clr-dark) ); }
.bg-light { background-color: hsl( var(--clr-light) ); }
.bg-white { background-color: hsl( var(--clr-white) ); }

.txt-dark { color: hsl( var(--clr-dark) ); }
.txt-light { color: hsl( var(--clr-light) ); }
.txt-white { color: hsl( var(--clr-white) ); }

.example-component {
    background-color: hsl( var(--clr-light) / 0.2 );
}

/* Typography */

.ff-serif { font-family: var(--ff-serif); } 
.ff-sans-cond { font-family: var(--ff-sans-cond); } 
.ff-sans-normal { font-family: var(--ff-sans-normal); } 

.letter-spacing-1 { letter-spacing: 4.75px; } 
.letter-spacing-2 { letter-spacing: 2.7px; } 
.letter-spacing-3 { letter-spacing: 2.35px; } 

.uppercase { text-transform: uppercase; }

.fs-900 { font-size: var(--fs-900); }
.fs-800 { font-size: var(--fs-800); }
.fs-700 { font-size: var(--fs-700); }
.fs-600 { font-size: var(--fs-600); }
.fs-500 { font-size: var(--fs-500); }
.fs-400 { font-size: var(--fs-400); }
.fs-300 { font-size: var(--fs-300); }
.fs-200 { font-size: var(--fs-200); }

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
    line-height: 1.1;
}

.numbered-title {
    font-family: var(--ff-sans-cond);
    font-size: var(--fs-500);
    text-transform: uppercase;
    letter-spacing: 4.72px;
}

.numbered-title span {
    margin-right: 0.5em;
    font-weight: 700;
    color: hsl( var(--clr-white) / 0.25 );
}

/* -------------------- */
/* Components           */
/* -------------------- */

.large-button {
    font-size: 2rem;
    position: relative;
    display: inline-grid;
    place-items: center;
    z-index: 1;
    padding: 0 2em;
    aspect-ratio: 1;
    border-radius: 50%;
    text-decoration: none;
}

.large-button::after {
    content: '';
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    background: hsl( var(--clr-white) / 0.15 );
    border-radius: 50%;
    opacity: 0;
    transition: opacity 500ms linear, transform 750ms ease-in-out;
}

.large-button:hover::after,
.large-button:focus::after {
    opacity: 1;
    transform: scale(1.5);
}

.underline-indicators > * {
    cursor: pointer;
    padding: var(--underline-gap, 1rem) 0;
    border: 0;
    border-bottom: .2rem solid hsl( var(--clr-white) / 0 );
}

.underline-indicators > *:focus {
    border-color: hsl( var(--clr-white) / .5);
}

.underline-indicators > *:hover {
    border-color: hsl( var(--clr-white) / .5);
}

.underline-indicators > .active,
.underline-indicators > .active > a,
.underline-indicators > [aria-selected="true"] {
    color: hsl( var(--clr-white) / 1 );
    border-color: hsl( var(--clr-white) / 1);
}

.tab-list {
    --gap: 2rem;
}

.dot-indicators > * {
    cursor: pointer;
    border: 0;
    border-radius: 50%;
    padding: .5em;
    background-color: hsl( var(--clr-white) / .25 );
}

.dot-indicators > *:hover,
.dot-indicators > *:focus {
    background-color: hsl( var(--clr-white) / .5 );
}

.dot-indicators > [aria-selected="true"] {
    background-color: hsl( var(--clr-white) / 1 );
}

.number-indicators {
    --gap: 1.5rem;
}

.number-indicators > * {
    height: 3rem;
    cursor: pointer;
    border: solid .1rem hsl( var(--clr-white) / .5 );
    border-radius: 50%;
    aspect-ratio: 1;
    background-color: hsl( var(--clr-dark) / .25 );
}

.number-indicators > *:hover,
.number-indicators > *:focus {
    border: solid .1rem hsl( var(--clr-white) / 1 );
}

.number-indicators > [aria-selected="true"] {
    color: hsl( var(--clr-dark) / 1 );
    background-color: hsl( var(--clr-white) / 1 );
}

/* Primary Header */

.logo {
    margin: 1.5rem clamp(1.5rem, 5vw, 3rem);
    flex: 1 1 0;
}

.primary-header {
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.primary-navigation {
    --gap: min(3rem, 4vw);
    --underline-gap: 2rem;
    background: hsl( var(--clr-white) / 0.05);
    list-style: none;
    padding: 0;
    margin: 0;
}

.primary-navigation a {
    text-decoration: none;
}

.primary-navigation a > span {
    font-weight: 700;
    margin-right: 0.5em;
}

.mobile-nav-toggle {
    display: none;
    cursor: pointer;
}

@supports (backdrop-filter: blur(1rem)) {
    .primary-navigation {
        background: hsl( var(--clr-white) / .05 );
        backdrop-filter: blur(1.5rem);
    }
}

@media (max-width: 34.8999em) {
    .mobile-nav-toggle {
        display: block;
        position: absolute;
        z-index: 2000;
        right: 1rem;
        top: 2rem;
        background: transparent;
        background-image: url(./assets/shared/icon-hamburger.svg);
        background-repeat: no-repeat;
        background-position: center;
        width: 1.5rem;
        aspect-ratio: 1;
        border: 0;
    }

    .mobile-nav-toggle[aria-expanded="true"] {
        background-image: url("./assets/shared/icon-close.svg");
    }

    .mobile-nav-toggle:focus-visible {
        outline: 5px solid white;
        outline-offset: 5px;
    }

    .primary-navigation {
        --underline-gap: .5rem;
        position: fixed;
        z-index: 1000;
        inset: 0 0 0 30%;
        list-style: none;
        background: hsl( var(--clr-dark) / 0.95);
        padding: min(20rem, 10vh) 2rem;
        margin: 0;
        flex-direction: column;
        transform: translateX(100%);
        transition: all 0.5s ease-in-out;
    }

    .primary-navigation[data-visible="true"] {
        transform: translateX(0);
    }

    .primary-navigation.underline-indicators > .active {
        border: 0;
    }
}

@media (min-width: 35em) {
    .primary-navigation {
        padding-inline: clamp(3rem, 4vw, 5rem);
    }
}

@media (min-width: 35em) and (max-width: 55em) {
    .primary-navigation a > span {
        display: none;
    }
}

@media (min-width: 60em) {
    .primary-header::before {
        content: '';
        display: block;
        position: relative;
        flex: 3 2 20%;
        order: 1;
        height: 1px;
        width: 100%;
        background: hsl( var(--clr-white) );
        margin-right: -2rem;
    }

    .primary-header > nav {
        order: 2;
        flex: 4 1 40%;
    }

    .primary-navigation {
        margin-block: 2rem;
    }
}

/* -------------------- */
/* Page Specific        */
/* -------------------- */

/* Home */

.home {
    background-size: cover;
    background-image: url(./assets/home/background-home-mobile.jpg);
}

@media (min-width: 30rem) {
    body {
        background-position: center center;
    }

    .home {
        background-image: url(./assets/home/background-home-tablet.jpg);
    }
}

@media (min-width: 45rem) {
    .home {
        background-image: url(/assets/home/background-home-desktop.jpg);
    }
}

@media (min-width: 60em) {
    .grid-container--home {
        padding-bottom: 6rem;
        align-items: end;
        grid-template-columns: repeat(2, minmax(2em, 1fr));
    }
}

/* Destination */

.destination {
    background-size: cover;
    background-image: url(./assets/destination/background-destination-mobile.jpg);
}

@media (min-width: 30rem) {
    .destination {
        background-image: url(./assets/destination/background-destination-tablet.jpg);
    }
}

@media (min-width: 45rem) {
    .destination {
        background-image: url(/assets/destination/background-destination-desktop.jpg);
    }
}

.grid-container--destination {
    row-gap: 2rem;
    margin-bottom: 4rem;
}

.grid-container--destination > picture {
    max-width: 15rem;
}

.destination-navigation {
    --gap: min(3rem, 4vw);
    --underline-gap: 2rem;
    list-style: none;
    padding: 0;
    margin: 0;
}

.destination-navigation a {
    text-decoration: none;
}

.destination-navigation a > span {
    font-weight: 700;
    margin-right: 0.5em;
}

.destination-navigation.underline-indicators {
    --underline-gap: .5rem;
}

.destination-meta {
    flex-direction: column;
}

@media (min-width: 35em) {
    .destination-info,
    .destination-info * {
        max-width: 60ch;
    }

    .destination-meta {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .grid-container--destination > h2 {
        place-self: start;
        margin-top: 2rem;
    }

    .grid-container--destination > picture {
        max-width: 18rem;
    }
}

@media (min-width: 60em) {
    .grid-container--destination {
        grid-template-columns: 1fr 1fr;
        row-gap: 0;
        column-gap: 2rem;
        padding-inline: 10rem;
    }

    .grid-container--destination > *:first-child {
        grid-column: 1;
        place-self: center start;
        margin: 0;
    }

    .grid-container--destination > picture {
        grid-column: 1;
        max-width: 30rem;
        min-width: 22rem;
    }

    .grid-container--destination nav {
        grid-column: 2;
        grid-row: 1;
        place-self: end start;
    }

    .grid-container--destination > *:last-child {
        grid-column: 2;
        grid-row: 2;
        place-self: center start;
    }

    .destination-meta {
        --gap: 3rem;
        flex-direction: row;
        justify-content: left;
    }
}

/* Crew */

.crew {
    background-size: cover;
    background-image: url(./assets/crew/background-crew-mobile.jpg);
}

@media (min-width: 30rem) {
    .crew {
        background-image: url(./assets/crew/background-crew-tablet.jpg);
    }
}

@media (min-width: 45rem) {
    .crew {
        background-image: url(/assets/crew/background-crew-desktop.jpg);
    }
}

.grid-container--crew {
    margin-bottom: 4rem;
    row-gap: 2rem;
}

.grid-container--crew .numbered-title {
    font-size: var(--fs-700);
}

.grid-container--crew .divider {
    margin: 0;
    border: inset 1px hsl( var(--clr-white) / .25 );
}

.crew-img-container {
    grid-row: 2;
    width: 90%;
}

.crew-img-container > picture {
    margin: 0 auto;
    max-width: 12rem;
}

.crew-details {
    padding-inline: 2.5rem;
}

.crew-details :first-child {
    color: hsl( var(--clr-white) / .6 );
    margin-bottom: .5rem;
}

.crew-details :last-child {
    margin-top: 1rem;
    line-height: 25px;
}

@media (min-width: 35em) {
    .grid-container--crew {
        margin-bottom: 0;
        padding-top: 2rem;
        place-items: end center;
    }

    .grid-container--crew .numbered-title {
        font-size: var(--fs-500);
        place-self: start;
        margin-left: 1rem;
    }

    .grid-container--crew .dot-indicators {
        grid-row: 3;
    }

    .grid-container--crew .dot-indicators > * {
        padding: .3rem;
    }

    .crew-img-container {
        grid-row: 4;
    }

    .crew-img-container > picture {
        max-width: 18rem;
    }

    .grid-container--crew .divider {
        display: none;
    }

    .crew-details {
        padding-inline: 5.5rem;
    }
}

@media (min-width: 60rem) {
    .grid-container--crew {
        padding-inline: 6rem;
        grid-template-columns: minmax(2rem, 1fr) minmax(3rem, 1.5fr);
        row-gap: 1rem;
        place-items: start;
    }

    .grid-container--crew .numbered-title {
        margin-left: 0;
    }

    .crew-details {
        grid-row: 2;
        grid-column: 1;
        padding-inline: 0;
    }

    .crew-img-container {
        place-self: end;
        grid-row: 1/4;
        grid-column: 2;
    }

    .crew-img-container > picture {
        max-width: 30rem;
    }

    .grid-container--crew .dot-indicators > * {
        padding: .5rem;
    }
}

/* Technology */

.tech {
    background-size: cover;
    background-image: url(./assets/technology/background-technology-mobile.jpg);
}

.grid-container--tech {
    margin-bottom: 4rem;
    padding-inline: 0;
    grid-template-rows: repeat(4, max-content);
    grid-gap: 2rem;
}

.tech-img-container {
    grid-row: 2;
    height: 15rem;
    width: 100%;
}

.tech-img-container picture {
    height: 100%;
    width: 100%;
}

.tech-img-container picture img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: bottom;
}